* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #e9dfd6;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e9dfd6;
  color: #2e2e2e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  margin-top: 0;
  background-color: #e9dfd6;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  height: 100px;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.btn-primary {
  background-color: #a7b89d;
  color: #000;
}

.btn-secondary {
  background-color: #e9dfd6;
  border: 1px solid #000;
  padding: 8px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 0.9em;
  transition: 0.2s;
}

.btn-secondary:hover {
  background-color: #a7b89d;
}

main {
  text-align: center;
  padding: 20px;
  background-color: #e9dfd6;
  flex: 1;
}

.saldo-section {
  display: grid;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.saldo {
  background-color: #e9dfd6;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 50px;
  border: 1px solid black;
}

.saldo h2 {
  margin: 0;
  font-size: 1.2em;
}

.saldo p {
  font-weight: bold;
  font-size: 1.3em;
}

.btn-light {
  background-color: #e9dfd6;
  border: 1px solid #000;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-light.selected {
  background-color: #a7b89d;
}

.btn-dark {
  background-color: #000;
  color: #e9dfd6;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}



.acoes-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  justify-content: center;
  max-width: 400px;
  margin: 20 auto;
}


.acoes {
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 25px;
  margin-top: 100px;

}

.acao {
  background-color: #e9dfd6;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border: 1px solid black;

}

.acao h3 {
  margin-bottom: 10px;
}


.btn-action {
  background-color: #a7b89d;
  padding: 10px 15px;
  border-radius: 8px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  text-align: center;
}


button {
  background-color: #a7b89d;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #a7b89d;
}



.input-area {
  display: none;
  margin-top: 5px;
}

input[type="number"] {
  margin-top: 10px;
  padding: 5px;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 50%;
  max-width: 200px;
  font-size:1rem;
}


.mensagem {
  margin-top: 20px;
  font-weight: bold;
  color: #333;
  font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .saldo-section {
    flex-direction: column;
    align-items: center;
  }

  .acoes-grid {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .acoes {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}


.form-container {
  max-width: 400px;
  background-color: #f9f6f4;
  margin: 40px auto;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid #bfb8b1;
  text-align: left;
}

.form-container h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 12px;
  font-weight: bold;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 6px;
  border: 1px solid #aaa;
  background-color: #fff;
}

.saldo-card {
  background-color: #f9f6f4;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #aaa;
  width: 220px;
  margin: 0 auto;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}




.profile-container {
    text-align: center;
    margin-top: 10px;
}

.profile-icon {
    display: flex;
    align-items:center;
    gap: 5px;
    margin-bottom: 50px;
}


.profile-name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 25px;
}

.profile-email {
    font-size: 20px;
    color: #555;
}


.acoes-extra {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.btn-full {
  width: 260px;
  text-align: center;
}

.financas-actions {
  display: flex;
  gap: 15px;
}


.financas-actions button {
  width: 160px;
}


.center-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}



.perfil-historico {
    margin-top: 50px; 
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}


.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.avatars {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px 0;
}

.avatar-opcao {
  width: 80px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

input[type="radio"]:checked + img {
  border: 2px solid green;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.avatar-opcoes {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 10px;
}

.avatar-opcao {
  cursor: pointer;
}

.avatar-opcao input {
  display: none;
}

.avatar-opcao img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: 0.2s;
}

.avatar-opcao input:checked + img {
  border-color: #a7b89d; 
  transform: scale(1.05);
}
